$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$color-dark: #060b35;
$color-gray: #616070;
$color-blue: #00acdc;
$border-radius: 5px;
$star-default: '../images/star.svg';
$star-active: '../images/star-active.svg';
